{% extends "lookup/base.html" %}

{% block title %} Look Up Informat{% endblock %}
{% block head %}Look Up Informat{% endblock %}

{% block content %}
<h3>Show Group</h3>

<p>
    <table>
    <tr>
        <th><h4>Entries</h4></th>
    </tr>
    <tr>
        <th>Names</th>
        <th>Phone Numbers</th>
        <th>Address</th>
        <th>Zip Code</th>
        <th>Search Url</th>
    </tr>
{% if search_results %}

    {% for result in search_results %}
       <tr> 
            <td>{{ result.0 }},</td>
            <td>{{ result.1 }},</td>
            <td>{{ result.2 }},</td>
            <td>{{ result.3 }},</td>
            <td><a href="{{ result.4 }}">{{ result.4}}</a></td>
       </tr>
    {% endfor %}
    </table>
</p>
{% else %}
    <p>No Group Lists Found</p>
{% endif %}


{% endblock %}
