{% extends "lookup/base.html" %}

{% block title %} Look Up Informat{% endblock %}
{% block head %}Look Up Informat{% endblock %}

{% block content %}
<h3>Show Group</h3>

<h4>Searches</h4>
<form action="/run_search/" method="post">
 {% csrf_token %}
{{ form.as_p }}
<p><input type="submit" value="Search" /></p>
</form>
<p>
<h3>Search Entries</h3>
{% if searches %}
    <ul>
   {% for search in searches %}
        <li><a href="/show_search/{{search.id}}">{{search.search_name}}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <p>No Searches Yet</p>
{% endif %}
</p>

{% if entries %}
<p>
    <table>
    <tr>
        <th><h4>Entries</h4></th>
    </tr>
    <tr>
        <th>Names</th>
        <th>Addresses</th>
        <th>Zip Code</th>
    </tr>
    {% for entry in entries %}
       <tr><td>{{entry.last_name}}</td><td>{{entry.address}}</td><td>{{entry.zipcode}}</td></tr>
    {% endfor %}
    </table>
</p>
{% else %}
    <p>No Group Lists Found</p>
{% endif %}


{% endblock %}
